
<%- include('./templates/head')  %>     

<%- include('./templates/nav')  %> 


<form class="formulario" action="http://localhost:4000/login/admin" method="post">

    <input type="text" id="usuario" name="usuario" placeholder="nombre de usuario">
    <input type="text" id="mail" name="mail" placeholder="mail">
    <input type="text" id="pass" name="pass" placeholder="contraseña">
    <input type="submit" value="Acceder">



</form>






<%- include('./templates/footer')  %> 