<nav class="menu">
    
   <h1 class="titulo">Index</h1>
    
    
    <a href="http://localhost:4000/login">LogIn</a>
    
    <form class="barraBusqueda" action="/search/" method="get">

        <input  type="text" name="query" >
        <input type="submit" value="Buscar"> 
        
    </form>
</nav>